/* =================
    CSS Reset
   ================= */

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

/* =================
    Grid Setting
   ================= */
   
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "thailand"
        "phiphi"
        "mountains"
        "highlands"
        "beauty"
        "home"
        "foot";
    gap: 20px;
    padding: 20px 20px 0px 20px;
}

.thailand{
    grid-area: thailand;
}

.phiphi{
    grid-area: phiphi;
}

.mountains{
    grid-area: mountains;
}

.highlands{
    grid-area: highlands;
}

.beauty{
    grid-area: beauty;
    
}

.home{
    grid-area: home;
}

footer {
    grid-area: foot;
}

/* =================
    Fonts
   ================= */

body {
  font-family: "Roboto", sans-serif;
}

/* =================
    Typography
   ================= */

h1{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

footer p{
    font-size: 0.75rem;
}

p.date{
    font-size: 0.625rem;
}

h2{
    font-size: 1.875rem;
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
}

h3{
    font-size: 0.875rem;
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

/* =================
    Header
   ================= */

.banner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    margin: 15px 0.7em;
}

.banner{
    display: flex;
    align-items: center;
    gap: 5px;
}

.banner-img{
    width: 20%;
    max-width: 50px;
    min-width: 20px;
    margin: 15px;
}

/* =================
    Navigation
   ================= */

.navigation-list{
    display: flex;
    gap: 5px;
    font-size: 0.5rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

nav a{
    color: black;
    text-decoration: none;
}

a:hover, .fa-solid:hover{
    color: blanchedalmond;
}

nav ul{
    list-style: none;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 0.75rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px;
  z-index: 9999;
}

.fa-solid{
    cursor: pointer;
}

.hidden{
    display: none;
}
  
/* =================
    Main Article
   ================= */

.main-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 293px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url("../images/solo.jpg");
    background-size: cover;
    padding: 15px;
    color: white
}

a{
    text-decoration: none;
}

a:hover, a:focus {
    filter: brightness(0.9);
}

/* =================
    Articles
   ================= */

article{
    min-height: 293px;
    color: #141414;
    border-radius: 0.2em;
    background-color: #e5e5e5;
    height: 100%;
}

.article-header{
    box-sizing: border-box;
    padding: 0.625em;
    width: 100%;
}

.image-one{
    width: 100%;
    border-radius: 0.375em;
    max-height: 232px;
}

/* =================
    Footer
   ================= */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    color: white;
    min-height: 50px;
    font-weight: 600;
}


/* =================
    Media Queries
   ================= */
   
   /* iPads */   
   
@media(min-width: 500px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "thailand phiphi"
        "mountains highlands"
        "beauty home"
        "foot foot";
    }
    
    .hidden{
        display: block;
    }
    
    .sidebar, .sidebar-show{
        display: none;
    }
    
    .navigation-list{
        font-size: 0.75rem;
        gap: 10px
    }
    
    footer p{
        font-size: 0.875rem;
    }
    
    p.date{
        font-size: 0.75rem;
    }
    
    h1{
        font-size: 0.9375rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 0.875rem;
    }
}
   
   /* Large Screens */
   
@media(min-width: 870px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "thailand phiphi mountains"
        "highlands beauty home"
        "foot foot foot";
    }
    
    .sidebar, .sidebar-show{
        display: none;
        }
    
    p.date{
        font-size: 0.875rem;
    }

    h1{
        font-size: 1.125rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1rem;
    }
    
}
   
